*{
    box-sizing: border-box;
  
  }
  body {
    margin: 0;
    padding: 0;
  }
  main{
    padding-top: 5em;
    width: 90%;
    display: block;
    margin: auto;
  }
  #titulo1{
    background-color: #0C1A21;
    color: #FFFFFF;
    padding: 12px;
    border-radius:12px ;
    text-align: center;
  }
  #tituloAdminDesktop, .background{
    display: none;
  }
  .inputs{
    width: 100%;
    padding: 12px;
    margin-bottom: 0.5em;
    border-radius: 12px;
    border: 1px solid #0C1A21;
    text-align: center;
  }
  .btnAdicionar{
    width: 100%;
    color: #0C1A21;
    background-color: #F7CA3A;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .btnAdicionar:hover{
    background-color: #0C1A21;
    color: #F7CA3A;
  }
  @media(min-width:768px){
    main{
      padding-top: 12em;
      width: 100%;
      margin-bottom: 3em;
    }
  #tituloAdminDesktop{
      display: block;
      margin: auto;
      background-color: #0C1A21;
      color: #FFFFFF;
      padding: 1em;
      border-radius: 12px;
      margin-bottom: 2em;
      width: 50%;
      text-align: center;
    }
    .background {
      background-color: #D9D9D9;
      display: flex;
      flex-direction: row;
      color: #FFFFFF;
      justify-content: space-between;
      width: 100%;
      gap: 1em;
      margin-bottom: 3em;
  }
  .divs {
      flex: 1; /* Faz com que todas as divs ocupem o mesmo espaço disponível */
      height: 100px; /* Ajuste a altura conforme necessário */
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;
  }
  .divs:hover {
      background-color: #0C1A21;
      border: 2px solid #F7CA3A;
  }
  .linksAdmin {
      text-decoration: none;
      text-align: center;
      color: #0C1A21;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; /* Centraliza o texto verticalmente */
      justify-content: center; /* Centraliza o texto horizontalmente */

  }
  .linksAdmin:hover {
      color: #FFFFFF;
  }
  #cupoesDesktop{
    background-color: #0C1A21;
  }
  #cupoesDesktop .linksAdmin{
    color: #FFFFFF;
    border: 2px solid #F7CA3A;
  }
  #divBtnNovoCupao{
    margin-top: 2em;
  }
  #titulo1{
    width: 90%;
    display: block;
    margin: auto;
  }
  form{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 2em;
  }
  }