*{
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
}

main{
  padding-top: 12em;
}

@media(max-width:768px){
  main{
    padding-top:6em ;
    margin-bottom: 5em;
  }
}

.background{
  background-color: #0C1A21;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 0.1em;
}


/* Galeria de produtos de destaque  */
.produtosContainer {
  display: flex; /* Utiliza flexbox */
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 20px;
}

div.gallery {
  margin: 5px;
  border: 2px solid #0C1A21;
  box-shadow: -2px -2px #0C1A21;
  border-radius: 20px;
  width:13em;
  overflow: hidden; /* Esconde parte da imagem quando aumenta */
  position: relative;
  text-align: center; /* Centraliza o texto dentro da galeria */
}

div.gallery .image-container {
  width: 100%;
  height: 180px; /* Ajusta a altura conforme necessário */
  overflow: hidden; /* Garante que a imagem maior não ultrapasse o contêiner */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  object-fit: cover;
  transform: scale(1.5);
  z-index:1;
}

div.gallery:hover img {
  transform: scale(2.5); 
}

div.desc, div.preco {
  padding: 15px;
  position: relative;
  z-index: 3;
  color: #0C1A21;
}

.produtosContainer a{
  text-decoration: none;
}

#tituloProdutosDestaque{
  text-align: center;
}
@media(min-width:768px){
  div.gallery {
    width: 15em; /* Aumenta a largura do contêiner da galeria */
  }
}

@media(min-width:1000px){
  div.gallery {
    width: 18em;  /* Aumenta a largura do contêiner da galeria */
  }
  div.gallery .image-container {
    height: 200px; /* Aumenta a altura da imagem */
  }
}